@page
@model ECommerceApp.Web.Pages.CartModel

<h2>Alışveriş Sepeti</h2>

@if(Model?.Cart.Items.Count == 0)
{
    <div class="alert alert-warning">Sepetiniz boş.</div>
}
else
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Ürün</th>
                <th>Adet</th>
                <th>Fiyat</th>
                <th>Toplam Ücret</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model?.Cart?.Items ?? Enumerable.Empty<CartItem>())
            {
                <tr>
                    <td>@item.Product.Name</td>
                    <td>@item.Quantity</td>
                    <td>@item.Product.Price</td>
                    <td>
                        @((item.Quantity * item.Product.Price).ToString()) ₺
                    </td>
                    <td>
                        <form method="post" asp-page-handler="Remove">
                            <input type="hidden" name="Id" value="@item.Product.Id">
                            <button type="submit" class="btn btn-danger">Sil</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">Ödenecek Tutar:</td>
                <td>
                    @Model?.Cart?.CalculateTotal() ₺
                </td>
            </tr>
        </tfoot>
    </table>
}

<div>
    <a href="/" class="btn btn-primary">Alışverişe Devam Et</a>
</div>
